.card{
  flex-basis:540px;
}

.card__title{
  margin:0;
  padding-bottom:16px;
  font-family: "Inter";
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
}
.card__list{
  margin:0;
  padding:0;
}
.card__list-item{
  display:flex;
  text-wrap:nowrap;
  justify-content:space-between;
  list-style-type:none;
  width: 100%;

  padding-top:16px;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;

}
.card__list-divider{
  width: 100%;
  box-sizing:border-box;
  border: 0px solid #000000;
  border-bottom-width:1px;
  margin:0 10px;
}
