.form{
  border:none;
  max-width:385px;
}
.form__fieldset {
  border: none;
  padding:0;
  margin:0;

}
.form__label {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;

  display:block;
  margin:0;
  padding:0;
  margin-bottom:32px;
}
.form__label_type_checkbox{
  display:flex;

  justify-content:center;
  flex-wrap:nowrap;
  margin-bottom:0;
}
.form__input {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;

  color: #838383;

  box-sizing:border-box;
  display: block;
  width: 100%;
  margin-top:8px;
  padding:0;
  border-radius:4px;
  height:60px;
  border-color:#838383;
  padding-left:25px;
}

.form__button:hover {
  transition:opacity .2s ease-in-out;
  opacity:70%;

}
.form__button {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;

  border:none;
  margin:0 0 32px 0;
  padding:0;
  width: 100%;
  height:60px;
  background-color:#2f80ed;
  border-radius:4px;
  color:#ffffff;
}

.form__checkbox {
  -ms-progress-appearance: none;
  appearance: none;
  background-color:#ffffff;
  background-repeat:no-repeat;
  background-size:contain;
  height:20px;
  width:20px;
  margin-top:0;
  margin-right:12px;
  box-sizing:border-box;
  border-radius:2px;

}
.form__checkbox:checked {
  -ms-progress-appearance: none;
  appearance: none;
  background-image:url('../images/check.svg');
  background-color:#2f80ed;
  background-repeat:no-repeat;
  background-size:15px;
  background-position:center;
  width:20px;
  margin-top:0;
  margin-right:12px;

}