.reservation {
  background-color: #d9e7ff;
  background-image: url("../images/background_reservation.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding:100px 0 120px;
}
.reservation__title {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;

  margin-top:0;
  margin-bottom:80px;
  margin-left:auto;
  margin-right:auto;
  text-align:center;
  width: 385px;
}
.reservation__form {

  margin:0 auto;
}