.page {
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  min-width: 1100px;
  font-family: "Inter", arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 20px;
}
.header {
  display: flex;
  flex-direction: column;
  padding: 30px 80px 40px;
  min-height: 720px;
  max-height: 800px;
  height: 100vh;

  background-image: url("../images/background_header.svg");
  background-position: center;
  background-size: cover;
}
.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.nav__logo {
  position: relative;
  left: -50px;
  width: 105px;
  height: 39px;
}
.nav__links {
  z-index: 1;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  gap: 20px;
  list-style-type: none;
}
.nav__link {
  color: #000;
  text-decoration: none;
}
.header__span-accent {
  font-family: "Noto Serif", sans-serif;
  font-style: italic;
  font-weight: normal;
  color: #2f80ed;

  display: block;
}
.header__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -0.6px;

  max-width: 729px;
  margin: 183px 0 0;
}
.header__descripton {
  margin: 28px 0 0;
  max-width: 683px;
  font-size: 20px;
  line-height: 30px;
}
.header__footer {
  margin-top: auto;
  position: relative;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size 16px;
  line-height: 20px;
  color: #838383;
  display: flex;
  align-items: end;
  justify-content: space-between;
}
.header__paragraph {
  margin: 0;
}

.header__image {
  width: 646px;
  height: 568px;

  margin-top: 0;
  margin-left: auto;
  margin-bottom: auto;
  top: 124px;
  right: 5px;
  margin-bottom: auto;

  position: absolute;
}
.recipes {
  color: #ffffff;
  margin: 0;
  padding: 100px 80px 215px;
  background-color: #0a2750;
  background-image: url("../images/background_recipes.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.recipes__title {
  margin: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  max-width: 580px;
}
.recipes__subtitle {
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  margin: 0;
  padding-top: 24px;
  max-width: 436px;
}
.recipes__videos {
  padding-top: 80px;
  display: flex;
  gap: 40px;
  justify-content: center;
}
.recipes__iframe {
  border: none;
  width: 480px;
  height: 273px;
}
.recipes__videos-caption {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  display: flex;
  justify-content: space-between;
}
